<h1>About Readitt</h1>
<p>Readitt is a topical message board in the style of sites like 4chan and Reddit written in Rails5 by Lucas Cuba. Here users can sign up/sign in, create topics and posts, and comment and vote on those posts. Readitt uses a popularity sorting algorithm for posts so that only the most relevant posts will be displayed.</p>

